:root{
    --primary-color: rgba(108, 220, 71, 0.805);
    --secondary-color: rgb(255, 153, 0);
    --background-color: #fff7e1;
    --card-color: #ffffff;
    --accent-color: #a5a58d;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('food1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: var(--primary-color);
}

.container{
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}


h1,
h2{
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
    text-align: center;
}

h1 {
    font-size: 3rem;
    position: relative;
}

.author {
    display: inline;
    font-size: 0.4em;
    vertical-align: sub;
    margin-left: 0.5rem;
    color: var(--secondary-color);
    font-family: 'Cursive', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
}

input[type="text"],
button {
    padding: 0.75rem 1rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="text"] {
    width: calc(100% - 120px);
    background-color: var(--card-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: var(--primary-color);
    color: var(--card-color);
    cursor: pointer;
}

#search-button {
    background-color: var(--secondary-color);
}

.section {
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(53, 210, 10, 0.023);
}

ul {
    list-style-type: none;
    padding: 0;
}

.recipe-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--background-color);
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.recipe-item:hover {
    transform: translateY(-5px);
}

.recipe-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 1rem;
}

.recipe-item span {
    flex-grow: 1;
    font-weight: bold;
}

.recipe-item button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    background-color: var(--primary-color);
}

#shopping-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#shopping-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#shopping-list li span {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

#shopping-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
}

#shopping-list ul li {
    background-color: var(--card-color);
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#methods-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.method-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.method-item span {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.method-item ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
}

.method-item ul li {
    background-color: var(--card-color);
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#favorites-list .recipe-item button{
    margin-right: 10px;
}

#favorites-list .recipe-item button:last-child{
    margin-right: 0;
}

#visitor-counter{
    width: 100%;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
}